@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients ✂️</h1>

@if (@Model.Count == 0)
{
  <p>If this list is empty, please add a new Client!</p>
}
else
{
  <ul>
    @foreach (Client client in Model)
    { 
      <li>@Html.ActionLink($"{client.Name}", "Details", new {id = client.ClientId}) | Stylist: @client.Stylist.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add a new Client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
